/** @format */

.home {
  width: 100%;
  padding: 0 2rem;
  min-height: 100vh;
  margin-bottom: 5rem;
  &__container {
    position: relative;
    z-index: 1;
  }

  .head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    font-weight: 800;
    span {
      font-size: 1rem;
      color: #535c7d;
    }
    h1 {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      p {
        color: #7c3aed;
        font-size: 2.4rem;
        margin: 0;
        margin-left: 0.5rem;
      }
    }
    a {
      align-self: flex-end;
      color: #7c3aed;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        bottom: -0.5rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        position: absolute;
        background-color: #7c3aed;
      }
      &::after {
        content: "";
        bottom: -1rem;
        left: 0;
        height: 0.2rem;
        width: 100%;
        position: absolute;
        background-color: #7c3aed;
        transform-origin: left; /* Điểm bắt đầu của hiệu ứng */
        transform: scaleX(0); /* Đầu tiên, gạch chân không có chiều rộng */
        transition: transform 0.3s ease;
      }
      &:hover::after {
        transform: scaleX(1);
      }

      /* Khi không hover nữa, thu nhỏ gạch chân để biến mất */
      &:not(:hover)::after {
        transform-origin: right; /* Điểm bắt đầu của hiệu ứng */
      }
    }
  }
  &__top-trending {
    margin-bottom: 10rem;
  }
  &__top-charts {
    margin-bottom: 10rem;
    .body {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      margin-left: -8px;
      margin-right: -8px;
      .item {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        padding: 1rem;
        border: 0.1rem solid #1d1e22;
        margin-bottom: 1rem;
        .stt {
          width: 1rem;
          margin-right: 2rem;
          color: #7c3aed;
          font-weight: 700;
        }
        &:hover {
          background-color: #1d1e22;
        }
      }
    }
  }
}
