/** @format */

.tag-artists {
  &__container {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 20rem;
      transition: 0.125s linear;
      position: relative;
      border-radius: 1.5rem;
      margin-bottom: 1rem;
      object-fit: cover;
    }
    span {
      font-weight: 700;
      color: #ffffff;
    }
  }
}
